.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList{
  display:flex;
  gap: 2rem;
  margin-top:2rem;
  overflow-x: auto;
  scrollbar-width: none; /* Remove scrollbar in Firefox */
  -ms-overflow-style: none; /* Remove scrollbar in IE/Edge */
  
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  border-radius: 20px;
  cursor: pointer;
  
}
.headerListItem.active {
  background-color: rgba(255, 255, 255, 0.1);
}
headerListItem.active:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.headerListItem.active svg {
  color: #febb02;
}
.headerTitle{
  margin:2rem 0;
}

.headerDesc {
  margin: 2rem 0;
}
.headerSearch
{
  background-color: rgba(255, 255, 255);
  border: 3px solid #febb02;
  border-radius: 5px;
  margin-top: 5rem;
  padding: 10px;
  display: flex;
  gap:4rem;
  height:3.2rem;
  align-items: center;
  color: grey;
  position:absolute;
  
  align-items:center;
}
.headerSearchItem{
  display:flex;
  gap:0.5rem;
  justify-content:center;
  align-items:center;
}
.headerSearchItem .headerBtn{
  margin-top:0.1rem;
}
.headerSearchItem .headerSearchInput{
  background-color: rgba(255, 255, 255, 0);
  color:black;
  border:none;
  outline:none;

}
.date {
  position: absolute;
  top: 50px;
  height:50vh;
  left:10rem;
  color:solid black;
  box-shadow:10px solid black;;
  
  z-index: 2;
}
.options {
  z-index: 2;
  width:20rem;
  position: absolute;
  top: 50px;
  padding:1rem;
  background-color: white;
  display:flex;
  flex-direction:column;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.optionItem{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:4rem;
  margin-left:0.1rem;
  background:grey;
  margin-top:0.5rem;
  padding:1rem;

}
.optionItem2{
  display:flex;
  justify-content:center;
  background:grey;
  margin-top:0.5rem;
  padding:1rem;

}
.optionItem .optionText{
  margin-top:2rem;
  
}
.optionItem2 .optionText1{
  margin-top:2rem;
  margin-left:0.5rem;
}
.optionItem2 .optionCounter{
  margin-left:2rem;
}
.optionItem .optionText2{
  margin-top:2rem;
}
.optionCounter{
  display:flex;
  gap:1rem;
  align-items:center;
  
}
.optionCounter .optionCounterNumber{
  margin-top:2rem;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.optionCounterButton:disabled {
  cursor: not-allowed;
}

